$primary-black: #000000;
$second-black: #323232;
$third-black: #4c4c4c;

$primary-white: #ffffff;
$second-white: #e5e5e5;
$third-white: #b3b1b3;
$fourth-white: #b7b7b7;
$fifth-white: #999999;

$primary-gray: #5a5a5a;