@import "../../../../assets/styles/variables.scss";

.section-skills {
    padding: 0;
    position: relative;    
    display: flex;
    align-items: center;

    @media (max-width: 767.98px) {
        padding-bottom: 100px;
    }

    @media (min-width: 768px) {
        padding-bottom: 70px;
        min-height: 65vh;
    }

    &__title {
        margin: 45px 0 60px;

        @media (max-width: 767.98px) {
            margin: 50px 0;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1100px;
        margin: 0 auto;
        position: relative;    
    }

    &__content-skill {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 40px;

        @media (max-width: 767.98px) {
            width: 50%;
            margin-bottom: 25px;
        }
    }

    &__content-skill-img {
        max-width: 35px;
        width: 100%;
        margin-right: 15px;

        @media (max-width: 767.98px) {
            max-width: 30px;
            margin-right: 10px;
        }
    }

    &__arrow {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        max-width: 35px;
    	animation: 1.5s loop-arrow-skills infinite;
        -webkit-animation: 1.5s loop-arrow-skills infinite;
    }
}

@keyframes loop-arrow-skills {
    0%   { bottom: 30px; }
    50%  { bottom: 20px; }
    100% { bottom: 30px; }  
}