@import "../../../../assets/styles/variables.scss";

.primary-section {
    min-height: 100vh;
    position: relative;

    &__base {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    &__base-title {
        font-size: 3.375rem;
        margin-bottom: 18px;
    }

    &__base-subtitle {
        margin-bottom: 18px;
    }

    &__base-separator {
        margin: 0;
        width: 60px;
        background-color: $primary-black;
        height: 2px;
    }

    &__left-side {
        position: relative;
    	animation: 1.5s left-to-right ease-out;
        -webkit-animation: 1.5s left-to-right ease-out;

        @media (max-width: 767.98px) {
            animation: 1s top-to-bottom ease-out;
            -webkit-animation: 1s top-to-bottom ease-out;
        }
    }

    &__right-side {
        position: relative;
        background-image: url('../../../../assets/imgs/jpeg/bg-pc.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 60vh;
        box-shadow: -8px 10px 16px 0px $third-white; 
        -webkit-box-shadow: -8px 10px 16px 0px $third-white;
		-moz-box-shadow: -8px 10px 16px 0px $third-white;
        animation: 1.5s rigth-to-left ease-out;
        -webkit-animation: 1.5s rigth-to-left ease-out;

        @media (min-width: 768px) and (max-width: 1199.98px) {
            height: 45vh;
        }
    }   

    &__arrow {
        position: absolute;
        bottom: 75px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        max-width: 35px;
    	animation: 1.5s loop-arrow infinite;
        -webkit-animation: 1.5s loop-arrow infinite;
    }
}

@keyframes left-to-right {
    0%   { left: -125px; opacity: 0; }
    100% { left: 0px; opacity: 1; }
}

@keyframes rigth-to-left {
    0%   { right: -125px; opacity: 0; }
    100% { right: 0px; opacity: 1; }
}

@keyframes top-to-bottom {
    0%   { top: -75px; opacity: 0; }
    100% { top: 0px; opacity: 1; }
}

@keyframes loop-arrow {
    0%   { bottom: 75px; }
    50%  { bottom: 60px; }
    100% { bottom: 75px; }  
}

