<section class="primary-section">
    <div class="container">
        <div class="row">
            <div class="col-md primary-section__base">
                <div class="primary-section__left-side">
                    <h1 class="primary-section__base-title">William Cesar</h1>
                    <p class="primary-section__base-subtitle">Desenvolvedor Front-End</p>
                    <hr class="primary-section__base-separator">
                </div>
            </div>

            <div class="col-md primary-section__base d-none d-md-flex">
                <div class="primary-section__right-side"></div>
            </div> 
        </div>  
    </div>

    <div class="primary-section__arrow" (click)="sharedService.scrollTo('about-me')">
        <img src="../../../../assets/imgs/png/arrow-down.png" width="100%" alt="arrow-down.png">
    </div>
</section>