@import "../../../../assets/styles/variables.scss";

.section-projects {
    position: relative;
    
    @media (min-width: 1200px) {
        min-height: 100vh;
    }

    &__title {
        margin: 45px 0 20px;
    }

    &__subtitle {
        text-align: center;
        margin-bottom: 40px;
    }

    &__project {
        margin-bottom: 20px;

        &:hover {
            .section-projects__overlay {
                background-color: rgba(0,0,0,0.8);
            }

            .section-projects__figcaption {
                opacity: 1;
            }
        }
    }
    
    &__project-content {
        position: relative;
    }

    &__figure {
        box-shadow: 0px 4px 8px 0px $third-white;
    }

    &__figcaption {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 1;
        width: 100%;
        opacity: 0;
        transition: .3s;
    }

    &__figcaption-title {
        color: $primary-white;
        text-align: center;
        font-size: 1.625rem;
        margin-bottom: 18px;

        @media (max-width: 991.98px) {
            font-size: 1.125rem;
        }
    }

    &__figcaption-btn {
        color: $primary-white;
        text-decoration: unset;
        border: 3px solid;
        border-color: $fifth-white;
        background-color: $second-black;
        font-size: 1rem;
        display: block;
        margin: 0 auto;
        text-align: center;
        max-width: 115px;
        padding: 6px 0;
        transition: .3s;

        &:hover {
            background-color: $primary-gray;
        }
    }

    &__img {
        width: 100%;
        max-width: 100%;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: unset;
        transition: .3s;
    }

    &__btn {
        text-decoration: unset;
        display: block;
        margin: 30px auto 30px;
        padding: 6px 0;
        max-width: 200px;
        text-align: center;
        border: 3px solid;
        border-color: $primary-black;
        transition: .3s;

        @media (max-width: 767.98px) {
            margin: 15px auto 30px;
        }

        &:hover {
            background-color: $primary-black;
            color: $second-white;

            .section-projects__btn-svg {
                path {
                    fill: $second-white;
                }
            }
        }
    }

    &__btn-svg {
        transition: .3s;
    }

    &__btn-icon {
        margin-right: 10px;
    }
}