<section class="section-about">
    <div class="container">
        <div class="row">
            <h2 class="section-about__title">E quem sou eu?</h2>
            <p class="section-about__subtitle">Desenvolvedor Front-End com experiência de mercado em desenvolvimento web, realizando projetos de websites institucionais, sistemas web e e-commerces.
               Busco constante evolução a cada dia, enfrentando novos desafios, com o objetivo de aprender e aprimorar as habilidades na área e ser cada vez mais qualificado 
               para ajudar na conclusão de projetos com qualidade e no prazo estipulado.
            </p>
        </div>
    </div>
</section>